.jqplot-seriespicker {
    display: block;
    z-index: 9;
    width: 24px;
    height: 16px;
    margin-top: 3px;
    background: url(../images/chart_line_edit.png) no-repeat center center;
}

.jqplot-seriespicker-popover {
    display: block;
    position: absolute;
    z-index: 1010; /* must be above ui dialog */
    margin-top: -2px;
    background: url(../images/chart_line_edit.png) no-repeat 7px 4px #f7f7f7;
    font-size: 11px;
    font-weight: normal;
    border: 1px solid #e4e5e4;
    padding: 6px 9px;
    border-radius: 4px;
    -moz-box-shadow: 1px 1px 2px #666;
    -webkit-box-shadow: 1px 1px 2px #666;
    box-shadow: 1px 1px 2px #666;
}